.collection-table{
  width: 100%;
  max-width: 1593px;
  display: flex;
  margin: auto;
  padding: 0 10px;
  position: relative;
  z-index: 1000;
  .collections{
    display: flex;
    flex-direction: column;
    width: 307px;
    position: relative;
    padding-top: 38px;
    .header{
      margin-top: 10px;
      display: flex;
      align-items: center;
      padding: 0;
      position: absolute;
      width: 307px;
      top: 0;
      z-index: 1000;
      background-color: #f9fbfd;
      padding-bottom: 10px;
      &.fixedHeader{
        position: fixed;
        top: -10px;
      }
      .contentHeader{
        display: flex;
        align-items: center;
        width: 100%;
        height: 28px;
        background-color: #ffffff;
        .svg-icon{

        }
        img{
          width: 11px;
          height: 11px;
          object-fit: contain;
          object-position: center;
        }
        .title{
          font-family: 'PoppinsSemiBold',sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: -0.02em;
          color: #333333;
          margin-left: 25px;
          margin-bottom: 0;
          &.icon{
            margin-left: 51px;
          }
        }
        img{
          margin-left: 4px;
        }
        .date{
          font-family: 'PoppinsMedium',sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: -0.02em;
          color: #A1A1A1;
          margin-left: 43px;
        }
      }

    }
    .item{
      display: flex;
      align-items: center;
      width: 100%;
      height: 74px;
      background-color: #ffffff;
      border: 1px solid #EEF3F6;
      margin-top: 10px;
      padding-left: 18px;
      position: relative;
      border-radius: 5px;
      position: relative;
      .settingsButton{
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background: #EFF2F5;
        border-radius: 0 0 4px 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .likesWrapper{
        display: flex;
        position: absolute;
        right: 27px;
        bottom: 9px;
      }
      .likesButtons{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 13px;
        margin: 0 1.5px;
        font-family: 'PoppinsRegular',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: -0.02em;
        color: #666666;
        border: 0.44186px solid #C4C4C4;
        border-radius: 1.76744px;
        cursor: pointer;
        &.activeLike{
          background-color: rgba(39, 174, 96, 1);
          color: #FFFFFF;
          border-color: rgba(39, 174, 96, 1);
          path{
            fill: #FFFFFF;
          }
        }
        &.activeUnLike{
          background-color: rgba(235, 87, 87, 1);
          color: #FFFFFF;
          border-color: rgba(235, 87, 87, 1);
          path{
            fill: #FFFFFF;
          }
        }
      }
      .icon{
        position: absolute;
        right: 7px;
        bottom: 9px;
        width: 19px;
        height: 13px;
      }
      .star{
        position: relative;
        display: flex;
        justify-content: center;
        cursor: pointer;
        .count{
          position: absolute;
          bottom: -21px;
          font-family: "PoppinsMedium", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 11px;
          line-height: 16px;
          letter-spacing: -0.02em;
          color: #C6C6C6;
        }
      }
      .number{
        font-family: 'PoppinsSemiBold',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.02em;
        color: #676767;
        margin-left: 17px;
      }
      .image{
        width: 26px;
        height: 26px;
        border-radius: 100%;
        object-fit: cover;
        object-position: center;
        margin-left: 29px;
      }
      .title{
        font-family: 'PoppinsSemiBold',sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #333333;
        margin-left: 8px;
        position: relative;
        .date{
          font-family: "PoppinsMedium", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          letter-spacing: -0.02em;
          color: #A1A1A1;
          position: absolute;
          bottom: -21px;
          left: 0;
        }
      }
    }
  }
  .collections-details{
    display: flex;
    flex-direction: column;
    width: calc(100% - 307px);
    padding-top: 38px;
    .collectionHeader{
      position: absolute;
      top: 0;
      z-index: 99999;
      &::-webkit-scrollbar {
        display: none;
      }
      thead{
        background-color: #ffffff;
      }
      &.fixedHeader{
        position: fixed;
        top: -10px;
      }
    }
    .content{
      width: 100%;
      padding: 0 17px;
      overflow: auto;
      table{
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 10px;
        thead{
          tr{
            height: 28px;
            background-color: rgba(255, 255, 255, 0.5);
            border-top: 1px solid #EEF3F6;
            border-bottom: 1px solid #EEF3F6;
            margin-top: 10px;
          }
          th{
            min-width: 122px;
            text-align: center;
            div{
              justify-content: center;
            }
            .iconWrapper{
              display: flex;
              margin-right: 3px;
            }
            .title{
              font-family: 'PoppinsSemiBold',sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 12px;
              line-height: 18px;
              letter-spacing: -0.02em;
              color: #333333;
              white-space: nowrap;
              img.icon{
                width: 13px;
                height: 13px;
                object-fit: contain;
                margin-left: 3px;
                cursor: pointer;
              }
              img.icon-progress{
                width: 19px;
                height: 13px;
                object-fit: contain;
                margin-left: 3px;
                cursor: pointer;
              }
              svg{
                margin-left: 3px;
                cursor: pointer;
              }
            }
          }
        }
        tbody{
          tr{
            height: 74px;
            background-color: rgba(255, 255, 255, 0.5);
            border-top: 1px solid #EEF3F6;
            border-bottom: 1px solid #EEF3F6;
            margin-top: 10px;
          }
          td{
            min-width: 122px;
            text-align: center;
            .contentWrapperTd{
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 74px;
            }
            div{
              justify-content: center;
            }
            .numberTextWrapper{
              display: flex;
              position: absolute;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
            }
            .number{
              font-family: 'PoppinsSemiBold',sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 12px;
              line-height: 18px;
              letter-spacing: -0.02em;
              color: #333333;
              cursor: pointer;
            }
            .title{
              font-family: 'PoppinsSemiBold',sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 21px;
              text-align: center;
              letter-spacing: -0.02em;
              color: #333333;
              white-space: nowrap;
              svg,img{
                cursor: pointer;
              }
            }
            .date{
              font-family: 'PoppinsMedium',sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 18px;
              letter-spacing: -0.02em;
              color: #A1A1A1;
              white-space: nowrap;
            }
            .progress-up{
              font-family: 'PoppinsSemiBold',sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 21px;
              color: #27AE60;
              margin-left: 14px;
              position: relative;
              white-space: nowrap;
              &:before{
                content: "\25b2";
                color: #27AE60;
                font-size: 8px;
                position: relative;
                bottom: 2px;
              }
            }
            .progress-down{
              font-family: 'PoppinsSemiBold',sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 21px;
              color: #EB5757;
              margin-left: 14px;
              position: relative;
              white-space: nowrap;
              &:before{
                content: "\25bc";
                color: #EB5757;
                font-size: 8px;
                position: relative;
                bottom: 1px;
              }
            }
          }
        }
      }
    }
  }
}
.table1{
  thead{
    background-color: #ffffff;
  }
}
.collection-table{

}
.table1,.table2{
  td:nth-child(3){
    min-width: 170px !important;
  }
  th:nth-child(3){
    min-width: 170px !important;
  }
  td:nth-child(4){
    min-width: 200px !important;
  }
  th:nth-child(4){
    min-width: 200px !important;
  }
  td:nth-child(5){
    min-width: 200px !important;
  }
  th:nth-child(5){
    min-width: 200px !important;
  }
  td:nth-child(6){
    min-width: 200px !important;
  }
  th:nth-child(6){
    min-width: 200px !important;
  }
  td:nth-child(7){
    min-width: 200px !important;
  }
  th:nth-child(7){
    min-width: 200px !important;
  }
  td:nth-child(8){
    min-width: 200px !important;
  }
  th:nth-child(8){
    min-width: 200px !important;
  }
  td:nth-child(9){
    min-width: 200px !important;
  }
  th:nth-child(9){
    min-width: 200px !important;
  }
  td:nth-child(10){
    min-width: 200px !important;
  }
  th:nth-child(10){
    min-width: 200px !important;
  }
  td:nth-child(11){
    min-width: 300px !important;
  }
  th:nth-child(11){
    min-width: 300px !important;
  }

  td:nth-child(12){
    min-width: 300px !important;
  }
  th:nth-child(12){
    min-width: 300px !important;
  }
  td:nth-child(13){
    min-width: 300px !important;
  }
  th:nth-child(13){
    min-width: 300px !important;
  }
  td:nth-child(14){
    min-width: 300px !important;
  }
  th:nth-child(14){
    min-width: 300px !important;
  }
  td:nth-child(15){
    min-width: 200px !important;
  }
  th:nth-child(15){
    min-width: 200px !important;
  }
  td:nth-child(16){
    min-width: 170px !important;
  }
  th:nth-child(16){
    min-width: 170px !important;
  }
  td:nth-child(17){
    min-width: 220px !important;
  }
  th:nth-child(17){
    min-width: 220px !important;
  }
  td:nth-child(18){
    min-width: 220px !important;
  }
  th:nth-child(18){
    min-width: 220px !important;
  }
  td:nth-child(19){
    min-width: 200px !important;
  }
  th:nth-child(19){
    min-width: 200px !important;
  }

  td:nth-child(20){
    min-width: 200px !important;
  }
  th:nth-child(20){
    min-width: 200px !important;
  }
  td:nth-child(21){
    min-width: 250px !important;
  }
  th:nth-child(21){
    min-width: 250px !important;
  }
  td:nth-child(22){
    min-width: 250px !important;
  }
  th:nth-child(22){
    min-width: 250px !important;
  }

  td:nth-child(23){
    min-width: 200px !important;
  }
  th:nth-child(23){
    min-width: 200px !important;
  }
  td:nth-child(24){
    min-width: 200px !important;
  }
  th:nth-child(24){
    min-width: 200px !important;
  }
  td:nth-child(25){
    min-width: 200px !important;
  }
  th:nth-child(25){
    min-width: 200px !important;
  }
  td:nth-child(26){
    min-width: 200px !important;
  }
  th:nth-child(26){
    min-width: 200px !important;
  }
  td:nth-child(27){
    min-width: 200px !important;
  }
  th:nth-child(27){
    min-width: 200px !important;
  }
  td:nth-child(28){
    min-width: 200px !important;
  }
  th:nth-child(28){
    min-width: 200px !important;
  }
  td:nth-child(29){
    min-width: 200px !important;
  }
  th:nth-child(29){
    min-width: 200px !important;
  }
  td:nth-child(30){
    min-width: 250px !important;
  }
  th:nth-child(30){
    min-width: 250px !important;
  }


  td:nth-child(31){
    min-width: 250px !important;
  }
  th:nth-child(31){
    min-width: 250px !important;
  }
  td:nth-child(32){
    min-width: 250px !important;
  }
  th:nth-child(32){
    min-width: 250px !important;
  }
  td:nth-child(33){
    min-width: 250px !important;
  }
  th:nth-child(33){
    min-width: 250px !important;
  }
  td:nth-child(34){
    min-width: 250px !important;
  }
  th:nth-child(34){
    min-width: 250px !important;
  }
  td:nth-child(35){
    min-width: 250px !important;
  }
  th:nth-child(35){
    min-width: 250px !important;
  }
  td:nth-child(36){
    min-width: 200px !important;
  }
  th:nth-child(36){
    min-width: 200px !important;
  }
  td:nth-child(37){
    min-width: 200px !important;
  }
  th:nth-child(37){
    min-width: 200px !important;
  }
  td:nth-child(38){
    min-width: 200px !important;
  }
  th:nth-child(38){
    min-width: 200px !important;
  }
  td:nth-child(39){
    min-width: 200px !important;
  }
  th:nth-child(39){
    min-width: 200px !important;
  }
  td:nth-child(40){
    min-width: 200px !important;
  }
  th:nth-child(40){
    min-width: 200px !important;
  }
  td:nth-child(41){
    min-width: 200px !important;
  }
  th:nth-child(41){
    min-width: 200px !important;
  }
  td:nth-child(42){
    min-width: 200px !important;
  }
  th:nth-child(42){
    min-width: 200px !important;
  }
}
.smallChart{
  .dxc-grids-group{
    opacity: 0;
  }
  .dxc-axes-group{
    opacity: 0;
  }
  .dxc-val-elements{
    opacity: 0;
  }
  .dx-visibility-change-handler{
    display: flex;
  }
}