.popupList1{
  display: flex;
  width: 100%;
  overflow: auto;
  justify-content: flex-start !important;
  max-height: 270px;
  tr{
    background-color: #f9fbfd !important;;
  }
  .popupTable{
    width: fit-content !important;
    th,td{
      padding: 0 20px;
    }
  }
}