.collections-page{
  position: relative;
  z-index: 7;
  .subTitle{
    font-family: 'PoppinsRegular',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #666666;
    margin-bottom: 12px;
  }
  .title{
    font-family: 'PoppinsSemiBold',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: #333333;
    margin-bottom: 4px;
    position: relative;
    .gradientText{
      background: linear-gradient(92.62deg, #556EE6 3.06%, #FF00CC 36.35%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  img{
    cursor: pointer;
  }
}
